input {
    display: none;
  }
label {
    cursor: pointer;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 4px;
    background: #0bd;
    color: #FFF;
    -webkit-transition: 0.1s;
    transition: 0.1s;
}
label:hover {
    background: #0090aa;
}
.panel {
    -webkit-transition: .3s ease;
    transition: .3s ease;
    height: 0;
    overflow: hidden;
    background: #F5F0CF;
    margin-top: 10px;
    padding: 0;
    border-radius: 5px;
}
input:checked + .panel {
    height: auto;
    padding: 15px;
}